body {
    /* font-family: 'Balsamiq Sans',
        cursive; */
    font-family: 'Open Sans Condensed',
        sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}